ul.nav.nav-sidebar
    li#nav-feed
        a(href="#") 主页
    li#nav-blog 
        a(href="/blog_list") 日志
    li#nav-album
        a(href="/album_list") 相册
    li#nav-message
        a(href="#") 留言板
    li#nav-broadcast
        a(href="#") 广播
    li#nav-share
        a(href="#") 分享