ul.nav.nav-sidebar
    li#nav-feed
        a(href="/feed") 新鲜事
    li#nav-broadcast
        a(href="/broadcast_list") 广播
    li#nav-blog 
        a(href="/blog_list") 日志
    li#nav-album
        a(href="/album_list") 相册
    li#nav-message
        a(href="/message_list") 留言板
