.navbar.navbar-inverse.navbar-fixed-top(role="navigation")
            .container-fluid
                .navbar-header
                    a.navbar-brand(href="#") Douer
                .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                        li
                            
                            a(href="#") 
                                span.glyphicon.glyphicon-inbox
                                |私信
                        li
                            a(href="#") 
                                span.glyphicon.glyphicon-wrench
                                |设置
                    form.navbar-form.navbar-right
                        input.form-control(type="text", placeholder="Search...")
                        button.btn.btn-default(type="button") go