doctype html
html
    head
        title= title
        meta(http-equiv="Content-type", content="text/html;charset=utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(name="author", content="Xixiaohai")
        link(href="/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href='/stylesheets/main.css', rel='stylesheet')
        link(href="/vendor/widgEditor/css/widgEditor.css", rel='stylesheet')
    body
        include ./includes/top
        .container-fluid
            .row
                .col-sm-3.col-md-2.sidebar
                    include includes/sidebar
                .col-sm-9.col-sm-offset-3.col-md-10.col-sm-offset-2.main
                    block content
        script(src="/vendor/jquery/jquery-2.1.1.min.js", type="text/javascript")
        script(src="/vendor/bootstrap/js/bootstrap.min.js", type="text/javascript")
        block javascript


