extends layout
append content
    h3.page-header 写日志
    .blog-write
        form#form-blog(action="/update_blog", method="post")
            .blog-head
                input.form-control(name="title", placeholder="标题",value="#{blog_detail.title}")
                input.form-control(name="id", type="hidden", value="#{blog_detail.id}")
                input#blog-category-id.form-control(name="category_id", type="hidden", value="1")
                .dropdown
                    a#drop-category(role="button", data-toggle="dropdown", href="#")
                        类型
                        b.caret
                    ul.dropdown-menu(role="menu",aria-labelledby="drop-category")
                        li(role="presentation")
                            a(role="menuitem", tabindex="-1", data-category-id="1", href="#") 啊哈
            .blog-body
                textarea#blog-editor.widgEditor(name="blog_content",value="")
                    #{blog_detail.content}
            .blog-footer
                button#btn-blog-update.btn.btn-default(type="button") 发布
                button#btn-blog-cancel.btn.btn-default(type="button") 取消
append javascript
    script(src="vendor/widgEditor/scripts/widgEditor.js", type="text/javascript")
    script(src="javascripts/add_blog.js", type="text/javascript")