// .list-toolbar
// #page-container-blog

#btn-post-blog
    float left
.blog-footer
    display inline-block

// #btn-blog-publish
//     float left
// #btn-blog-cancel
//     float left
// #blog-editor
//     overflow scroll
//     max-height 300px