// .list-toolbar
// #page-container-blog

#btn-post-blog
    float left
// .blog-head input
//     float left
// .blog-head .dropdown
//     float left
.blog-head
    display inline-block
.blog-head input
    width 800px
.blog-footer
    display inline-block
.operate-toolbar
    display inline-block
#page-container-blog ul li 
    list-style none

.scrap-info
    display inline-block
.op-lists
    display inline-block

.well.show-in-owner
    padding-top 8px 
    padding-bottom 40px

// #btn-blog-publish
//     float left
// #btn-blog-cancel
//     float left
// #blog-editor
//     overflow scroll
//     max-height 300px